form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding-top: 50px;
}
#enviar{
    background-color: black;
    color:orange;
    margin-top: 10px;
}
#enviar:hover{
    background-color:rgb(111, 82, 29);
}
input{
    margin-bottom: auto;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}
label{
    
    font-size: 15px;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'berlin sans fb';
}