body{
    font-family: 'berlin sans fb';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1{
    text-align: center;
    
}
#card{
    border-left: 30px solid orange;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    text-decoration: none;
    height: auto;

}
#card2{
    border-left: 30px solid orange;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    text-decoration: none;
    height: auto;

}
#equipe{
    border-left: 30px solid orange;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    flex-direction: column;
    text-align: justify;
    text-decoration: none;
    color: black;
    height: auto;

}
#equipe2{
    border-left: 30px solid orange;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    text-align: justify;
    text-decoration: none;
    color: black;
    height: auto;
}
#lu {
    display: flex;
    text-decoration: none;
}

#lu2{
display: flex;
text-decoration: none;
}
img {
    width: 180px;
    height: auto;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
    height: auto;
    
}
