body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(244, 177, 69);
    padding-bottom: 0%;
    position:fixed 0%;
}
.p1 {
    font-family: 'berlin sans fb';
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}