body{
    bottom: 0%;
    position:fixed;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(244, 177, 69);
    position:fixed;
}
.p1 {
    font-family: 'berlin sans fb';
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}