body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
footer{
    background-color: rgb(244, 177, 69);
    color: #fff;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#logo{
    width: 64px;
    height: 64px;
}
