<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <title> </title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <img src="../assets/images/logo.png" alt="logo do site" id="logo">
            <nav>
                <ul>
                    <li><a href="../index.html" >menu</a></li>
                    <li><a href="../pages/sobrenos.html">sobre</a> </li>
                    <li><a href="../pages/contato.html">contato</a> </li>
                </ul>
            </nav>

             </div>
    </header>
</body>

</html>